@charset "UTF-8";

<style>
* {
  margin: 0px;
  padding: 0px;
}

body {
  background:linear-gradient(90deg,#009c64 0%,#009c64 50%,#FFFFFF 50%,#FFFFFF 100%);
  width: 100%;
  max-width: 1080px; /* 幅の上限 */
  min-width: 200px; /* 幅の下限 */
  margin: 0px auto
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

header{
  width: 100%; /* リキッド ヘッダー*/
  box-sizing: border-box;
  padding: 3em;
  color: white;
  text-align: center;
}

.column {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
  .info {
    margin-bottom: 10%;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    font-size: 2rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 18px;
  }
  a:hover {
  }
.cat1 {
  background: background: url(images/e0056_1_2.png) center / cover no-repeat;
  background-size: cover;
  //color: rgba(255,255,255,.7);
}
.cat2 {
  background: #FFFFFF;
  background-size: cover;
  //color: rgba(0,0,0,.7);
}

.bnr {
	text-align: center;
}
.bnr a {
	display: inline-block;
	background: url(images/e0056_1_2.png) center / cover no-repeat;
  background-size: 70%;
}
.bnr a img {
	vertical-align: middle;
	transition: opacity .3s;
}
.bnr a:hover img {
	opacity: 0;
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}
